@tailwind base;
@tailwind components;
@tailwind utilities;
h1 {
  @apply text-3xl font-bold;
}

.search-input {
  @apply h-8 w-full box-border outline-none rounded-md text-sm leading-5 shadow-none bg-white text-black;

  padding: 0px var(--ds-space-150, 12px) 0px 30px;

  border: 2px solid var(--ds-border-input, #dfe1e6);
}
@layer base {
  body {
    @apply bg-white dark:bg-gray-900;
    @apply overflow-hidden;
  }
}
.issue-wrap[data-v-bf5f2b94] {
  touch-action: manipulation;
  cursor: grab;
  margin-bottom: 5px;
}
@layer utilities {
  .w-300 {
    width: 300px;
  }
  .h-475 {
    height: 475px;
  }
  .text-shadow-custom {
    text-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc;
  }
}
a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.shake:hover {
  animation: tilt-shaking 0.5s;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* 
.scrollbar1::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.scrollbar1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#42526E),
									   to(#42526E),
									   color-stop(.6,#8b98ae))
}


.scrollbar2::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.scrollbar2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#0052CC),
									   to(#0052CC),
									   color-stop(.6,#6d92ca))
} */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
[contenteditable="true"] {
}
